body {
    background-color: wheat;
    margin: 0;
    padding: 0;
}

.resource-section {
    text-align: center;
    padding: 1em;
}   

.title {
    font-size: 3em;
    border-bottom: 2px  solid black;
    margin-left: 20%;
    margin-right: 20%;
}

.logo {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.logo a {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 5%;
    border: none;
    border-radius: 30px;
}

footer {
    background-color: brown;
    margin: 0;
    padding: .5%;
}

footer p {
    margin: 0;
}