html,
body {
    padding: 0;
    margin: 0;
    background-color: rgb(242, 249, 249);
}

body p,
li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.learn-header {
    background-color: #607274;
    padding-bottom: 2em;
}

.learn-header .howto-div {
    display: flex;
    justify-content: center;
    margin: 60px 50px;
}

.main-nav ul {
    margin: 0;
    padding: 1.1em 0;
}

.howto-div .how-to-txt {
    margin: 1em;
    font-size: 4em;
    height: 100px;
    border-bottom: 2px solid #FAEED1;
    align-self: center;
    margin-right: auto;
    color: #FAEED1;
}

.howto-div .congkak-img-1 {
    border: none;
    border-radius: 50px;
    margin-right: auto;
}

.intro-section {
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 2.5%;
}

.intro-section .intro-txt {
    font-size: 2.7em;
}

.intro-section p {
    font-size: 1.25em;
    line-height: 2em;
}

.obj-section {
    background-color: #B2A59B;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
    padding-top: 15px;
}

.obj-section .obj-txt {
    font-size: 2.7em;
}

.obj-section ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.obj-section li {
    padding: 1em;
    background-color: #DED0B6;
    margin: 10px;
    border-radius: 15px;
    font-size: 1.3em;
    line-height: 2em;
}

.obj-div {
    display: flex;
    text-align: center;
}

.obj-div div {
    margin: auto 1em;
    background-color: #DED0B6;
    border-radius: 15px;
    width: 50%;
    padding: 20px;
}

.obj-div p {
    font-size: 1.2em;
    line-height: 2em;
}

.obj-div h3 {
    font-size: 1.5em;
}

.gameplay-section h2 {
    text-align: center;
    font-size: 3em;
}

.gameplay-section div {
    display: flex;
    margin: 2% 0;
    padding: 2%;
}

.reverse-div {
    flex-direction: row-reverse;
    background-color: #FAEED1;
}

.gameplay-section p {
    margin: 4%;
    padding: 4%;
    font-size: 1.3em;
    line-height: 1.8em;
}

.gameplay-section p strong {
    font-size: 1.5em;

}

.gameplay-section img {
    border-radius: 20px;
    width: 600px;
}

.strategy-section {
    text-align: center;
    padding-bottom: 5%;
}

.strategy-section h2 {
    font-size: 2em;
}

.strategy-section p {
    background-color: #DED0B6;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2.5%;
    border-radius: 30px;
    font-size: 1.3em;
    line-height: 1.9em;

}